<div id="<%= dom_id device %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Serial number:</strong>
    <%= device.serial_number %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= device.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Last latitude:</strong>
    <%= device.last_latitude %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Last longitude:</strong>
    <%= device.last_longitude %>
  </div>
</div>
