<%= form_with(model: device, class: "contents") do |form| %>
  <% if device.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(device.errors.count, "error") %> prohibited this device from being saved:</h2>

      <ul class="list-disc ml-6">
        <% device.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :serial_number %>
    <%= form.text_field :serial_number, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": device.errors[:serial_number].none?, "border-red-400 focus:outline-red-600": device.errors[:serial_number].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :description %>
    <%= form.textarea :description, rows: 4, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": device.errors[:description].none?, "border-red-400 focus:outline-red-600": device.errors[:description].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :last_latitude %>
    <%= form.text_field :last_latitude, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": device.errors[:last_latitude].none?, "border-red-400 focus:outline-red-600": device.errors[:last_latitude].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :last_longitude %>
    <%= form.text_field :last_longitude, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": device.errors[:last_longitude].none?, "border-red-400 focus:outline-red-600": device.errors[:last_longitude].any?}] %>
  </div>

  <div class="inline">
    <%= form.submit class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
